*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Delius', cursive;
}
header {
	position: fixed;
	width: 100%;
	z-index: 999999999;
	border-bottom: 3px solid #f9f9f9;
}
.bg-light {
	background-color: #fff !important;
}
.menu{
    font-family: 'Berkshire Swash', cursive;
}
.menu ul{}
.menu ul li{}
.menu ul li a {
	font-size: 18px;
	color: #80819F !important;
}
.menu ul li a:hover, .menu ul li a:focus, menu ul li a:active {
	color: #80819F !important;
	letter-spacing: 3px;
	text-transform: uppercase;
	-webkit-transition: 1s;
	transition: 1s;
	background-color: transparent;
}
.menu ul li a:after,
.menu ul li a:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.menu ul li a:hover:after, .menu ul li a:hover:before {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #80819F;
	-webkit-transition: width 350ms ease-in-out;
	transition: width 350ms ease-in-out;
	width: 80%;
}

.menu ul li a:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;
}
.menu input[type="text"] {
	width: 130px;
	box-sizing: border-box;
	border: 1px solid #283e65;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../../assets/img/searchicon_2.png');
	background-position: 3px 5px;
	background-repeat: no-repeat;
	padding: 0 20px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	background-size: 15px;
}
.menu input[type="text"]:focus {
	width: 100%;
	border: 1px solid #80819F;
	box-shadow: 1px 0px 7px -2px #80819F;
}
.menu img {
    width: 100%
}
.menu .card-text {
	color: #666;
}
.nav-item.dropdown.latest.show {
	width: 1000px;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	min-width: 10rem;
	padding: 8px 0;
	padding: .5rem 0;
	margin: 7.28px 0 0;
	margin: 0.455rem 0 0;
	font-size: 16px;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	border-radius: .25rem;
}
.logo_setion {
	height: 150px;
	text-align: center;
	padding: 100px;
}
.logo {
	font-family: 'Berkshire Swash', cursive;
	color: #80819F;
	font-size: 50px;
}
.logo::before {
	content: "";
	position: absolute;
	width: 150px;
	height: 3px;
	background-color: #80819f;
	margin-top: 55px;
	border-radius: 2px;
}
.card-body li {
	margin-left: 3px;
	color: #909090;
}
.card-body {
	padding: 29.6px;
	padding: 1.85rem;
}
.banner_section{}
.banner_section h2 {
	text-align: center;
	padding: 200px 0;
	font-size: 40px;
	color: #80819F;
}
.parallax {
	background-image: url("../../assets/img/banner_image.jpg");
	height: 460px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.blog_section {
	padding: 100px;
	background: #f9f9f9;
}
.blog_section .collapsible {
	background-color: #8886a1;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.blog_section .collapsible:hover {
	background-color: #eee;
}
.blog_section .collapsible:after {
	content: '\002B';
	color: #444;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.blog_section .active:after {
    content: "\2212";
}

.blog_section .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.blog_section .content li {
	margin: 3px 16px;
}
.blog_section .col-md-7 {
	background: #fff;
	margin-right: 95px;
	padding: 40px 20px;
}
.blog_section h1 {
	color: #80819F;
	font-size: 35px;
	padding-bottom: 10px;
}
.blog_section p {
	color: #777;
	font-size: 18px;
}
.blog_section p .muted {
	color: #b0b0b0;
}
.single_blog{}

.single_blog h3 {
	color: #80819F;
	margin-bottom: 15px;
	font-size: 25px;
}
.btn-link {
	font-weight: 400;
	color: #666;
	background-color: transparent;
}
.btn-link:hover {
	color: #80819F;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent;
}
.btn-link:focus, .btn-link:active {
	color: #80819F !important;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent;
    text-decoration: none;
}
.aside {
	margin-bottom: 30px;
}
.aside h3 {
	padding: 15px;
	color: #80819F;
	border-bottom: 2px dashed #eee;
	text-align: center;
}
.content p {
	color: #444;
	font-size: 15px;
}
.aside img {
	padding: 20px 30px;
}
.icons {
	font-size: 22px;
	margin-right: 9px;
	color: #80819F;
    -webkit-transition: 1s;
    transition: 1s;
}
.icons:hover {
	-webkit-transition: 1s;
	transition: 1s;
	color: #808080;
}
.aside i{}
.aside form input[type="text"] {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #8081a2;
}
.aside form input[type="text"]:focus {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 2px 8px -1px #80819F;
	border: none;
}
.aside .btn-primary {
	color: #fff;
	background-color: #8886a1;
	border-color: #80819F;
	width: 100%;
	color: #444;
}
.contact_section {
	text-align: center;
	padding: 50px;
}
.contact_section h2 {
	color: #80819F;
	font-size: 28px;
	letter-spacing: 3px;
}
.contact_section p {
	color: #b7b7b7;
}
.contact_section img {
    width: 100%;
}
.page_section {
	background-color: #80819F;
	text-align: center;
	padding: 50px 0;
	color: #333;
}
.page_section h2{
    
	font-family: 'Berkshire Swash', cursive;
}
.page_section p{}
.page_section li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
.page_section li:hover,
.page_section li:active {
  letter-spacing: 5px;
}

.page_section li:after,
.page_section li:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.page_section li:hover:after,
.page_section li:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.page_section li:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
footer {
	background: #2B2B2B;
	padding: 20px 0;
}
footer p {
	color: #888;
	font-size: 18px;
}
footer p span {
	color: #80819F
        ;
}
footer .icons {
	float: right;
	font-size: 18px;
}
.owl-theme .owl-nav [class*="owl-"] {
	color: #333;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #80819F;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.blog_section .collapsible {
	background-color: #8886a1;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.blog_section .collapsible:hover {
	background-color: #eee;
}
.blog_section .collapsible:after {
	content: '\002B';
	color: #444;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.blog_section .active:after {
    content: "\2212";
}

.blog_section .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.blog_section .content li {
	margin: 3px 16px;
}